.login{
    margin: 20% auto;
    border: 1px  solid #bbbbbb;
    background-color: #fafafa;
    width: 30%;
}
p{
    display: inline-block;
    width: 20%;
    margin: 1%;
}
input{
    display:inline-block;
    margin: 1%;
    border-radius:25px;
    background-color: #fafafa;
    width: 70%;
    padding-left: 2%;
    outline: none;
}
