<div class="trending">
  <a routerLink="/{{PrimaryKeyword}}/{{ShortTitle}}/{{blogId}}" (click)="send()">
    <div class="blogImageHolder" #holder>
        <img #initialImage src="/assets/images/default-image.png" alt="InitialblogImage" *ngIf="isloading">
        <img src="{{blogImage}}" (load)="removeInitialImage()"  (error)="setDefault()" alt="blogImage"  *ngIf="dataRecieved" >
    </div>
  <div class="desc">
    
    <p >
      <span class="views">
        <img src="/assets/images/sports-social-view-white.png" alt="sports-social-view-white">
        <span>{{ViewCount}}</span> 
      </span>
      <span class="share">
        <img src="/assets/images/sports-social-share-white.png" alt="sports-social-share-white"  >
        <span>{{ShareCount}}</span>
      </span>
    </p>
    <p [innerHtml]="heading"></p>
  </div>
  </a>
</div>
