<div class="trending">
  <img src="/assets/images/2.jpg" class="blogImg" alt="blogImage">
  <div class="desc">
    <a routerLink="/blogOpen">
      <p>The passion will kept me driving through my journey from banking to cycling</p>
    </a>
    <p>
      <span class="views">
        <img src="/assets/images/sports-social-view-white.png" alt="sports-social-view-white">
        340
      </span>
      <span class="share">
        <img src="/assets/images/sports-social-share-white.png" alt="sports-social-share-white"  >
        340
      </span>
    </p>
  </div>
</div>
