*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto',sans-serif
}
.keyword{
    display: inline-block;
    width: auto;
    vertical-align: top;
    border: 1px solid #024771;
    border-radius: 4px;
    margin: 0.5% 0.15% 0.5% 0.15%;
     
}
.image{
    background-repeat:no-repeat ;
    background-size: 100%;
}
.title{
   
    display: inline-block;
    width: auto;       
}
.title p{
    padding: 6px 14px 6px 14px;
    display: inline-block;
    width: auto;
    font-size: 0.9em;
    color: #024771;
    text-align: left;
    font-weight: 500;
}
.keyword:hover{
    background-color: #024771;
    border:none;
    
}
.title p:hover{
    color: white
}
