
.blog{
    padding: 0.3% 1.5% 1.5% 1.5%;
}
.col-6{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding:0% 1.5% 2% 1.5%;
}
.col-12{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0% 0.5% 0% 0.5%
   
}
.latestBlog{
    padding: 0% 2% 0% 2%;
}
.col-4,.trendingBlogs{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}
.col-8{
    width: 66.2%;
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    
}
.mobileView .col-4{
    width: 100%;
}
.suscribeCard{
    border: 1px solid #bbbbbb;
    box-shadow: 3px 3px #fafafa;
    border-radius: 4px;
}
button{
    display: block;
    margin: 1% auto;
    width: 30%;
    background-color: #ffa600;
    border:none;
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    padding: 0.5%;
}
.loading{
    display: block;
    margin: auto;
}
.noMoreData{
    width: 100%;
    color: #024771;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}
