<div class="blog" MaintainHeightWidthRatio >
  <div class="blogImageHolder">
    <img src="/assets/images/clem-onojeghuo-71989.jpg" >
  </div>
  <div class="blogFooter">
    <p>
      <span>1 Day Ago</span>|<span>2 min read</span>
      <span>
        <img src="/assets/images/views-black.png" >
        340
      </span>
      <span>
        <img src="/assets/images/share-black.png" >
        400
      </span>
    </p>
    <a routerLink="/blogOpen">
      <p #title>
        They for the way they become family with thier team.
      </p>
    </a>
    <p>
      <img src="/assets/images/edit.png" >
      Akhil Tripathi
    </p>
  </div>
</div>
