*{
    padding: 0px;
    margin: 0px;
}
footer{
    z-index: 1;
    background-color: #024771;
    width:100%;
    padding: 0.8%;
}
.subscribe{
    width: 70%;
    margin: 0.4% auto;
    background-color: #e5e5e5;
    padding: 0.4%;
}
.subscribe>p{
    width:100px;
    display: inline-block;
    vertical-align: middle;
    color: #ffa600;
    font-family: 'Roboto',sans-serif;
    border-right: 1px solid #ffa600;
    font-size: 1.2em;
    font-weight:700;
    padding: 0.5%;
    padding-right: 2%;
    padding-left:1%;
    
}
.subscribe>input{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 238px);
    height: 35px;
    margin-left: 2%;
    text-align: center;
}
button{
    display: inline-block;
    vertical-align: middle;
    width:100px;
    border:none;
    background-color: #ffa600;
    font-family: 'Roboto',sans-serif;
    font-size: 1.1em;
    color: white;
    height: 33px;
    padding: 0.5% 0% 0.5% 0%;
    margin:0% 0% 0% 1%
}
::-webkit-input-placeholder {
    text-align: center;
    font-size: 0.9em;
}
 
:-moz-placeholder { 
    text-align: center;  
    font-size: 0.9em;
}
 
 ::-moz-placeholder {  
    text-align: center; 
    font-size: 0.9em; 
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    font-size: 0.9em;
 }
 
 .blogName{
     text-align: center;
     font-family: 'Roboto',sans-serif;
     font-size: 1.6em;
     color: #ffffff;
     font-weight: 900;
 }
 .tagline{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
    color: #ffffff;
    font-weight: 400;
 }
 .about{
     text-align: center;
     width:65%;
     margin: 1% auto;
     font-family: 'Roboto',sans-serif;
     color: #ffffff;
     font-size: 1.1em;
     font-weight: 500;
 }
 
 .copyright>img{
     width: 20px;
     height: 20px;
 }
 .contactUs{
     margin: 1% auto;
     text-align: center;
     width:50%;
     font-family: 'Roboto',sans-serif;
     color: #ffffff;
     font-size: 1.1em;
     font-weight: 500;
 }
 .copyright{
    display: inline-block;
    vertical-align: middle;
    width: 35%;
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
    font-weight: 500;
 }
 .followUs{
     text-align: right;
     float: right;
     display: inline-block;
     vertical-align: middle;
     width: 60%;
     color: #ffffff;
     font-family: 'Roboto',sans-serif;
     font-size: 1.1em;
     font-weight: 500;
 }
 .followUs img{
    width: 20px;
    height: 20px;
    margin-left: 1.5%;
 }
 
 .editor{
     text-align: center;
     width: 50%;
    margin: auto;
 }
 .editor a{
     color: white
 }
 .subscriptionBox{
    width: 40%;
    height: 200px;
    z-index: 50;
    position: fixed;
    top:20%;
    left: 30%;
    background-color: #ffffff;
    border: 1px solid #888888;

 }
 .subscriptionBox>.top{
     width:100%;
     height: 60%;
     background-image: url('/assets/images/sports-social-correct-symbol-white.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 60px;
 }
 .subscriptionBox>.bottom>p:first-child{
    color: black;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5%
 }
 .subscriptionBox>.bottom>p:last-child{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #024771;
    text-align: center;
 }
 .closeMessage{
    width: 20px;
    height: 20px;
    float: right;
    padding: 1%;
}
.errorMessage{
    width: 100%;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #b33a3a
}

 @media  (max-width:1000px) and (min-width:800px) {
    .followUs img{
        width: 20px;
        height: 20px;
        margin-left: 1.5%;
     }
     .subscriptionBox{
         width: 60%;
         left: 20%;
     }
     button{
         height: 30px
     }
     .subscribe>input{
        height: 32px;
        width: calc(100% - 230px);
    }
 }
 @media  (max-width:800px) and (min-width:600px) {
    .followUs img{
        width: 20px;
        height: 20px;
        margin-left: 1.5%;
     }
     .about{
        width: 80%;
        font-size: 1em;
    }
    .contactUs{
        font-size: 1em;
    }
    .blogName{
        font-size: 1.5em
    }
    .tagline{
        font-size: 0.95em
    }
    .subscribe{
        width: 85%;
    }
    button{
        height: 30px;
    }
    .subscribe>input{
        height: 32px;
        width: calc(100% - 230px);
    }
    .subscriptionBox{
        width: 70%;
        left: 15%;
    }
 }
 
 @media  (max-width:600px) and (min-width:520px){
    .copyright>img{
        width: 15px;
        height: 15px;
    }
     .followUs{
         margin-bottom: 2%;
         font-size: 1em
     }
    .followUs img{
        width: 15px;
        height: 15px;
        margin-left: 1.5%;
     }
     .about{
        width: 100%;
    }
    .contactUs{
        font-size: 0.9em;
    }
    .blogName{
        font-size: 1.3em
    }
    .tagline{
        font-size: 0.9em
    }
    .subscribe{
        width: 90%;
    }
    .subscribe>input{
        height: 30px;
        width: calc(100% - 230px);
    }
    button{
        height: 28px;
    }
    .subscriptionBox{
        width: 74%;
        left: 13%;
    }
    
 }

 @media  (max-width:520px) and (min-width:450px) {
    .copyright>img{
        width: 15px;
        height: 15px;
    }
    .followUs{
        margin-bottom: 2%;
        font-size: 1em
    }
    .followUs img{
        width: 15px;
        height: 15px;
        margin-left: 1.5%;
     }
     .about{
         width: 100%;
         font-size: 0.9em
     }
     .contactUs{
         font-size: 0.9em;
     }
     .blogName{
         font-size: 1.3em
     }
     .tagline{
         font-size: 0.85em
     }
     .subscribe{
        width: 100%;
    }
    .subscribe>p{
        width: 85px
    }
    button{
        height: 25px;
        width: 75px
    }
     .subscribe>input{
         height: 25px;
         width: calc(100% - 190px);
     }
     .subscriptionBox{
        width: 90%;
        left: 5%;
    }
 }
 @media (max-width:450px) {
    .copyright>img{
        width: 15px;
        height: 15px;
    }
    .followUs{
        margin-bottom: 2%;
        font-size: 0.9em
    }
    .followUs img{
        width: 15px;
        height: 15px;
        margin-left: 1.5%;
     }
     .about{
         width: 100%;
         font-size: 0.9em
     }
     .contactUs{
         font-size: 0.9em;
     }
     .blogName{
         font-size: 1.3em
     }
     .tagline{
         font-size: 0.85em
     }
    .subscribe{
        width: 100%;
    }
    .subscribe>p{
        width: 85px
    }
    button{
        height: 25px;
        width: 75px
    }
     .subscribe>input{
         height: 25px;
         width: calc(100% - 182px);
     }
     .subscriptionBox{
        width: 90%;
        left: 5%;
    }
 }