<footer #footer>
  <div class="subscribe" >
    <p>
      Subscribe
    </p>
    <input type="email" placeholder="Enter your Email" #subscriber  email>
    <button  (click)="Subscribe()">Submit</button>
  </div>
  <p  class="errorMessage" *ngIf="errorMessage">Email is Inavlid!!! Please enter correct Email</p>
  <p class="blogName" #blogName>Chase Your Sport</p>
  <p class="tagline" #tagline>The Sports Social Blog</p>
  <p class="about" #about> 
    Sports Social Blog: Chase Your Sport aims to create a sustainable platform for Indian sports 
    lovers to provide latest updates on Indian Sports Trends, analytics, career in sports & 
    health & fitness tips
  </p>
  <p class="contactUs" #contactUs>
    Contact Us: letstalk@sportsocial.in
  </p>
  <!-- <p class="editor"> <a routerLink="/editorPanel">Editor</a></p> -->
  
  <p class="followUs" #followUs>
    Follow us on 
    <a href="https://www.facebook.com/chaseyoursport" target="_blank"  rel="noopener">
        <img src="/assets/images/sports-social-facebook-logo-white.png" alt="facebook_Logo" >
    </a> 
    <a href="https://www.twitter.com/chaseyoursport" target="_blank"  rel="noopener">
        <img src="/assets/images/sports-social-twitter-logo-white.png" alt="twitter_Logo"  >
    </a>
    <a href="https://www.instagram.com/chaseyoursport" target="_blank" rel="noopener">
        <img src="/assets/images/sports-social-instagram-logo-white.png" alt="insta_Logo" >
    </a>
    <a href="https://www.quora.com/topic/Sports-Social-Indias-First-Sports-Social-Network" target="_blank" rel="noopener">
        <img src="/assets/images/sports-social-quora-logo-white.png" alt="quora_Logo">
    </a>
    <a href="https://www.youtube.com/channel/UC8dRPjyfNkxmOozPuUs5YVQ" target="_blank" rel="noopener">
        <img src="/assets/images/sports-social-youtube-logo-white.png" alt="youtube_Logo">
    </a>
    <a href="https://www.pinterest.com/chaseyoursport" target="_blank" rel="noopener">
        <img src="/assets/images/sports-social-pinterest-logo-white.png" alt="pintrest_Logo">
    </a>
    
  </p>
  <p class="copyright" #copyright>
    Copyright <img src="/assets/images/copyright.png"> 2017 CnP Sports Services Private Limited | All Rights Reserved
  </p>
</footer>


<div class="subscriptionBox" #subscriptionBox *ngIf="showSubscriptionBox">
    <div class="top">
        <img src="/assets/images/sports-social-cancel-black.png" role="button" class="closeMessage"  (click)="close()">
    </div>
    <div class="bottom">
        <p>Great</p>
        <p>
            You have Subscribed for our Newsletter and Blog updates.
        </p>
    </div>
</div>
