<header #Header>
  <ul class="left" #left>
    <a href="/">
      <li class="brand-image">
        <img src="/assets/images/sports-social-logo.png" alt="Sports Social logo">
      </li>
      <li class="brand-title">
        <span>Sports</span> <span>Social</span> <span>Blog</span>
        <p>Chase your Sport</p>
      </li>
    </a>
    <li  *ngIf="!mobileView">
      <input 
        ngui-auto-complete
        [source]="keywords"
        [list-formatter]="autocompleListFormatter"
        type="text" 
        placeholder="Search here the latest topics & trends in sports" 
        (valueChanged)="valueChanged($event)"
        [max-num-list]="10"
        [open-on-focus]="false"
        (keypress)="sendData($event)"
        #searchBox>  
    </li>
  </ul>
  <ul class="right" *ngIf="!mobileView">
    <li >
      <a 
        href="https://www.sportsocial.in" 
        target="_blank" 
        class=" websiteLink" >
        <!-- <img src="/assets/images/sports-social-link-blue-symbol.png" alt="sports-social-link-blue-symbol" #linkImage> -->
        Website 
      </a>
    </li>
    <li >
      <a 
        href="https://goo.gl/qrgCz5" 
        target="_blank" 
        class=" websiteLink" >
        <!-- <img src="/assets/images/sports-social-link-blue-symbol.png" alt="sports-social-link-blue-symbol" #linkImage> -->
        App
      </a>
    </li>
  </ul>
  <div class="mobileView " *ngIf="mobileView">
     <div class="menuImageHolder">
       <img src="/assets/images/sports-social-menu.png" role="button" (click)="openDropDown()" alt="sports-social-menu">
     </div>
     <div *ngIf="open" class="dropDown">
        <img src="/assets/images/sports-social-cancel-black.png" role="button" (click)="closeDropDown()" class="Close" alt="sports-social-cancel-black">
        <p class="website"> 
          <a 
            href="https://www.sportsocial.in" 
            target="_blank" 
            class=" websiteLink">
            <!-- <img src="/assets/images/sports-social-link-blue-symbol.png" alt="" #linkImage> -->
             Website 
         </a>
        </p>
        <p> 
          <a 
            href="https://goo.gl/qrgCz5" 
            target="_blank" 
            class=" websiteLink">
            <!-- <img src="/assets/images/sports-social-link-blue-symbol.png" alt="" #linkImage> -->
            App
         </a>
        </p>
      <div class="search">
         <input 
          ngui-auto-complete
          [source]="keywords"
          [list-formatter]="autocompleListFormatter"
          type="text" 
          placeholder="Search " 
          (valueChanged)="valueChanged($event)"
          [max-num-list]="10"
          (keypress)="sendData($event)"
          [open-on-focus]="false"
          #searchBox >
          <button (click)="searchSportSocial()">Search</button>
      </div>
      
    </div>
  </div> 
</header>
