*{
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: 'Roboto',sans-serif;
}
header{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top:0px;
    z-index: 10;
    box-shadow: 1px 1px #bbbbbb
}
.left{
    display: inline-block;
    vertical-align: middle;
}

li{
    display: inline-block;
    list-style: none;
    width: auto;
    margin: 0.2% 0.1% 0.2% 0%;
    vertical-align: top;
   
}
.left>li{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    margin-left:3%;
}
.brand-image{
    width: 40px;
    height: 40px;
    margin-left:2%;
    display: inline-block;
    vertical-align: middle
}
img{
    width: 100%;
    height: 100%;
}
.brand-title{
   font-size: 1.4em;
   font-weight: 700;
   display: inline-block;
   vertical-align: middle
}
.brand-title>span:first-child{
    color: #024770;
}
.brand-title>span:nth-child(2){
    color: #ffa600;
}
.brand-title>span:nth-child(3){
    font-size: 60%;
    color: black;
    font-weight: 700;
}
.brand-title>p{
    font-size: 55%;
    color: #024770;
    font-weight: 400;
    text-align: left;
    font-style: italic;
    padding-left: 9%;
}
.right{
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width:13%;
}
.right li{
    margin: 1% 2% 1% 1%;
}
input{
    height: 35px;
    background-image: url('/assets/images/search.png');
    border: 1px solid #bbbbbb;;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 2%;
    background-size: 15px;
    outline: #fafafa;
    border-radius: 25px;
    background-color: #e5e5e5;
    text-align: center;

}
.mobileView{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    float: right;
    padding: 1% ;
}
.menuImageHolder{
    width: 30px;
    height: 30px;   
}
.menuImageHolder img{
    width: 100%;
    height: 100%;
}
.dropdown-menu{
  width: 80%;
  background-color: #fafafa;
  position: fixed;
  top:10%;
  left:10%;
  border-radius: 25px;
}
.dropdown-menu button{
    float: right;
    width: auto;
    padding:0.5% 1% 0% 0%;
}
.dropdown-menu p{
    color: #024770;
    text-align: center;
    margin: 1%;
}
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { 
    text-align: center;  
 }
 
 ::-moz-placeholder {  
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }
 .suggestion{
     position: absolute;
     top: 45px;
     width:51%;
     background-color:white
 }
 .suggestion ul{
     display: block;
     border: 1px solid #bbbbbb;
 }
 .suggestion li {
     padding: 1%;
     display: block;
     border-bottom: 1px solid   #bbbbbb
 }
 .mobileView .suggestion{
     top:65px;
     width: 100%;
 }
 .ngui-auto-complete {
     border: 1px solid black;
  }
  a:hover{
      text-decoration: none;
  }
  .websiteLink{
      color: #024771;
      font-weight: 700;
  }
 .websiteLink>img{
     width: 20px;
     height: 20px;
     padding: 1%
}
  .websiteLink:hover{
      color: #ffa600;
  }