.keywords{
   
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    white-space: nowrap !important;
    
    
}
.keywords div{
    text-align: center;
    overflow-x: scroll;
    max-width: 100%;
    margin: 2px auto;
}
.keywords div::-webkit-scrollbar{
   display: none;
}
